<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-details</title>
    <style>
        .blog-details {
          max-width: 800px;
          margin: 0 auto;
        }
      
        .blog-title {
          font-size: 24px;
          color: #333;
        }
      
        .author-info {
          font-size: 16px;
          color: #555;
        }
      
        .published-info {
          font-size: 16px;
          color: #555;
        }
      
        .reading-time {
          font-size: 16px;
          color: #555;
        }
      
        .blog-content {
          margin-top: 20px;
          font-size: 18px;
          color: #444;
        }
        .auth-buttons {
  margin-top: 50px;
}

.auth-button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
      </style>
</head>
<body>
    <div class="blog-details">
        <h1 class="blog-title"><%= blog.title %></h1>
        <p class="author-info">Author: <%= blog.author %></p>
        <p class="published-info">Published: <%= blog.state === 'published' ? 'Yes' : 'No' %></p>
        <p class="reading-time">Reading Time: <%= blog.reading_time %> minutes</p>
        <p class="blog-content"><%= blog.body %></p>
      </div>
      <div class="auth-buttons">
        <a href="/login" class="auth-button">Log In</a>
        <a href="/signup" class="auth-button">Sign Up</a>
      </div>
</body>
</html>